#region-footer-copyright {
  .block {
    display: block;
    width: 100%;

    .block-inner {
      text-align: right;
    }
  }

  #block-block-16 {
    width: 50%;
    float: left;

    .block-inner {
      text-align: left;
    }
  }

  #block-block-6 {
    width: 50%;
    float: right;

    .connect_us {
      float: right;
    }
  }

  #block-block-11 {
    clear: both;
  }

  .block-menu-footer-sub-menu ul.menu {
    float: right;
  }
}
