#logo {
  width: 266px;

  img {
    height: 59px;
  }
}

#block-govcms-text-resize-text-resize {
  float: right;
  margin: 0;
  height: 27px;

  li {
    float: left;
    list-style: none;
    margin-right: 2px;
    background-image: none;
    padding: 0;
    margin-left: 0;

    a {
      display: block;
      width: 27px;
      height: 0;
      overflow: hidden;
      padding-top: 27px;

      &.font-small {
        background: url("../img/icon-smaller.png") no-repeat center bottom;
      }

      &.font-large {
        background: url("../img/icon-larger.png") no-repeat center bottom;
      }
    }
  }
}
